<label for="input-field" class="sr-only">@Label</label>
<div class="input-group mb-2">
    <div class="input-group-prepend">
        <div class="input-group-text">@Label</div>
    </div>
    <input type="text" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="input-field-@Label" value="@Value" @onchange="ValueChanged" />
</div>
@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public int Value { get; set; }

    [Parameter]
    public EventCallback<ChangeEventArgs> ValueChanged { get; set; }
}