<EditForm Model="@(new object())">
    <div class="form-group row">
        <StyledTextboxControl Label="Accuracy"/>
    </div>
    <div class="form-group row">
        <StyledTextboxControl Label="Communication"/>
    </div>
    <div class="form-group row">
        <StyledTextboxControl Label="Constitution"/>
    </div>
    <div class="form-group row">
        <StyledTextboxControl Label="Dexterity"/>
    </div>
    <div class="form-group row">
        <StyledTextboxControl Label="Fighting"/>
    </div>
    <div class="form-group row">
        <StyledTextboxControl Label="Intelligence"/>
    </div>
    <div class="form-group row">
        <StyledTextboxControl Label="Perception"/>
    </div>
    <div class="form-group row">
        <StyledTextboxControl Label="Strength"/>
    </div>
    <div class="form-group row">
        <StyledTextboxControl Label="Willpower"/>
    </div>
</EditForm>

@code {

}