@using TheExpanseRPG.CharacterSheet.Domain.Aggregates.CharacterAggregate
<div class="row">
    <div class="col">
        <SheetSectionControl Title="Speed">
            <h1>@SecondaryAbilities.Speed</h1>
        </SheetSectionControl>
    </div>
    <div class="col">
        <SheetSectionControl Title="Defense">
            <h1>@SecondaryAbilities.Defense</h1>
        </SheetSectionControl>
    </div>
    <div class="col">
        <SheetSectionControl Title="Toughness">
            <h1>@SecondaryAbilities.Toughness</h1>
        </SheetSectionControl>
    </div>
    <div class="col">
        <SheetSectionControl Title="Armor">
            <h1>0</h1>
        </SheetSectionControl>
    </div>
    <div class="col">
        <SheetSectionControl Title="Penalty">
            <h1>0</h1>
        </SheetSectionControl>
    </div>
</div>

@code {
    [Parameter]
    public SecondaryAbilities SecondaryAbilities { get; set; }
}