<div class="row">
    <div class="col">
        <div class="row">
            Speed
        </div>
        <div class="row">
            [value]
        </div>
    </div>
    <div class="col">
        <div class="row">
            Defense
        </div>
        <div class="row">
            [value]
        </div>
    </div>
    <div class="col">
        <div class="row">
            Toughness
        </div>
        <div class="row">
            [value]
        </div>
    </div>
    <div class="col">
        <div class="row">
            Armor
        </div>
        <div class="row">
            [value]
        </div>
    </div>
    <div class="col">
        <div class="row">
            Penalty
        </div>
        <div class="row">
            [value]
        </div>
    </div>
</div>

@code {
}